*{
     margin:0px;
     padding: 0px;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
     height:100%;
}

 .base-container{          
                display:flex;
                flex: 1;
                 background: rgb(185, 185, 181);
 }
 .left-container{
       padding: 1em;
       display: flex;
       flex-direction: column;
       justify-content:flex-start;     

 } 
 .navbar-links{
display: flex;
     padding: 1em;
     height: fit-content;
         
}

.navbar-links  li{
      height: 40px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px; 
      display: flex;  
}
.navbar-links li a {
      padding: 0.5em;
      color:white;
      text-transform: uppercase; 
   }
  
  .navbar-links li:hover{
     background: rgb(10, 10, 100);
      }
 .image{
       width: 240px;
       height: 250px;
       border: 3px solid white;
       box-shadow: 5px 5px 5px azure;
 }
 .image p{
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        color: cornsilk;
 }

/*------------Columna de la derecha------*/
.right-container{
      display: flex;
       flex-direction: column;
       padding: 2em;
       margin-top: 1.5rem;
       border-top: 1px solid grey; 
       background: white;
       box-shadow: 5px 10px 10px 15px rgb(85, 85, 109);

}  

.info-container{
      padding: 3em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}
.name{
      font-size: 40px;
      height: fit-content;
}
.description{
      font-size:25px;
      color:#363436;
      height: fit-content;
      

}
.Experience{
       padding: 1em;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       border-bottom: cornflowerblue;
       height: fit-content;
       border-top: 3px solid cadetblue;
}
.skills{
      display: flex;
      flex-direction: column;
      height: fit-content;   
}
h1{
      font-style: oblique;
}
span{
      font-size: 20px;
      color: darkolivegreen;
}
.education{
      display: flex;
      flex-direction: column;
}