*{
     margin:0px;
     padding: 0px;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
}
 body{
    background-image: url(/leaf.jpg);
    background-size: cover;
 }
nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color:transparent;
     height: 80px;
     width: 100%;
     font-family: sans-serif;
}
label.logo{
    color: white;
    font-size: 40px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: bold;
}
nav ul{
       display: flex;
       margin-right: 80px;

}
nav ul div{
          display:flex;
          line-height: 40px;
          margin: 0px 20px;
}
nav div a {
       color:rgb(226,226,226);
       font-size: 17px;
       padding: 7px 13px;
       border-radius: 3px;
       text-transform: uppercase;
}
a.active,a:hover{
      background:green;
}
 
 .base-container{
                  width: 1000px;
                  height: 530px;
                  margin: auto;
                  background:transparent;
                  border-radius: 6px;
                  position: absolute;
                  top: 60%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  box-shadow: 0px 1px 10px 1px #000;
                  overflow: hidden;
                  display: inline-block;
 }
 .upper-container{
          width:1000px;
          margin: auto;
 }
 

 .image-container{
     background: whitesmoke;
     width: 300px;
     height: 300px;
     border-radius: 100%;
     padding: 5px;
     transform: translate(250px,50px);
 }

 .image-container img{
       width: 280px;
       height: 280px;
       border-radius: 100%;
       padding: 5px;
       transform: translate(6px,8px);
       
}
.lower-container{
    height: 200px;
    background-color: rgb(223, 185, 223);
    padding: 30px;
    padding-top: 100px;
    text-align: center;
}
.lower-container p{
    font-size:25px;
    color:#694a5b;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: oblique;
}

.lower-container .btn{
             padding: 18px 26px;
             background: #694a5b;
             border: none;
             color: white;
             border-radius: 40px;
             font-size: 18px;
             text-decoration: none;
             font-weight: bold;
             transition: all .3s ease-in;
        
}
.lower-container .btn:hover{
    background: transparent;
    color:  #694a5b;
    
}
